page-forgot-password {
    p {
        color: #3B327B;
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
    }

    .btn-send {
        margin-top: 15px;
    }

    ion-icon {
        color: #ffd700;
    }
}
