page-products {
    .scroll-content {
        padding: 0 !important;
    }

    .search-bar {
        position: relative;

        ion-icon {
            position: absolute;
            top: 15px;
            font-size: 22px;
            right: 20px;
        }

        .searchbar-clear-icon {
            display: none !important;
        }

        .searchbar-input {
            background-color: rgba(142, 142, 147, .1);
        }
    }

    ion-searchbar {
        background: transparent !important;
        padding: 10px !important;
    }

    .recommend-card {
        background-image: linear-gradient(-90deg, #F96297 0%, #F4B5A5 100%);
        padding: 10px;

        ion-card-title {
            color: white;
            font-size: 30px;
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 180px;
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                flex: 10;
                color: white;
            }

            button {
                color: #F96297;
                font-size: 16px;
            }
        }
    }

    .product {
        margin-top: 20px !important;

        .row {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
    
            .left {
                background-image: linear-gradient(-180deg, #75BDEF 0%, #868FD4 100%);
                display: flex;
                align-items: center;
                padding: 15px;

                img {
                    width: 90px;
                    object-fit: cover;
                }
            }
    
            .right {
                flex: 10;
                padding: 15px;
    
                h3 {
                    color: #3B327B;
                    font-size: 20px;
                }
    
                p {
                    color: #717C91;
                }

                button {
                    background-color: #FFEBEE;
                    color: #F96297;
                }
            }
        }
    }
}
