
<ion-header>

  <ion-navbar>
    <button ion-button clear color="dark" class="btn-back" type="button" (click)="login()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Full Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls['name'].errors && signupForm.controls['name'].dirty">Please fill in a correct name</p>
      <ion-item>
        <ion-label floating>Company Name</ion-label>
        <ion-input formControlName="company" type="text"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls['company'].errors && signupForm.controls['company'].dirty">Please fill in a correct company name</p>
      <ion-item>
        <ion-label floating>Location</ion-label>
        <ion-input formControlName="location" type="text"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls['location'].errors && signupForm.controls['location'].dirty">Please fill in a correct location</p>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls['email'].errors && signupForm.controls['email'].dirty">Invalid e-mail address</p>
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input formControlName="phone" type="number"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls['phone'].errors && signupForm.controls['phone'].dirty">Minimum length of the phone number should have 8 characters</p>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" [type]="passwordType"></ion-input>
        <button ion-button clear color="dark" class="btn-icon" type="button" item-right (click)="showPassword()">
          <ion-icon name="md-eye-off" item-right></ion-icon>
        </button>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls['password'].errors && signupForm.controls['password'].dirty">Minimum length of the password should have 8 characters</p>
      <button ion-button block [disabled]="!signupForm.valid" class="btn-signup" (click)="signup()">Sign up</button>
    </ion-list>
  </form>
  <p>By signing up, you agree to <a>Terms and Conditions</a> and <a>Privacy Policies</a>.</p>
</ion-content>
