
page-measure {
    ion-navbar {
        margin-top: 30px !important;
    }

    .scroll-content {
        padding: 0 10px !important;
    }

    ion-item {
        ion-icon {
            color: #FF2D5A !important;
            font-size: 24px !important;
            margin-right: 0 !important;
        }
    }

    .example-desc {
        color: #FF2D5A;
        padding: 0 15px;
        font-size: 20px;
    }

    ion-card {
        margin-bottom: 15px !important;
        opacity: .3 !important;
    }

    .vote {
        font-size: 13px;
        color: #717C91;
    }

    .desk-chart,
    .toilet-chart {
        display: flex;
        justify-content: space-between;
    }

    .one-chart-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .chart {
        object-fit: cover;
        border-radius: 5px;
        width: 40px !important;
    }

    .t-chart {
        object-fit: cover;
        border-radius: 5px;
        width: 50px !important;
    }

    .percent {
        margin-top: -18px;
        color: white;
        font-size: 12px;
    }

    .icon {
        // margin-top: 10px;
        // width: 26px !important;
    }

    ion-item {
        h2 {
            color: #25282B !important;
        }
    }
}
