page-privacy {
    .scroll-content {
        padding: 0 15px !important;
    }

    h3 {
        color: #FF2D5A;
        font-size: 20px;
    }

    p {
        font-size: 18px;
        margin: 0 0 5px;
    }
}
